body{
    
    background-image: url(imagenes/bg.degra.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
.header2{
    
    background: linear-gradient(90deg,rgba(71, 189, 173, 0.726), rgb(53, 136, 132), rgb(27, 108, 110));
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90px;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}







  
.section1{
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 200px;
    margin-top: 95px;
}


.sectionSongs{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 100%;
    padding: 0px;
}
.title{
    padding: 4px;
}

.fotoAlbum{
    padding: 5%;
}
.Songs{
    display: grid;
    grid-template-rows: 23% 23% 23% 23% 23% 23%;
    grid-template-columns: 100%;
    overflow: auto;
    padding: 5px;
    row-gap: 10px;
}
.Songs::-webkit-scrollbar {
    -webkit-appearance: none;
}
.Songs::-webkit-scrollbar:vertical {
    width:10px;
}

.Songs::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.Songs::-webkit-scrollbar:horizontal {
    height: 10px;
}

.Songs::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    
}

.Songs::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.container1{
    text-align: center;
}
h2{
    position: relative;
    
}
.albumFoto{
    height: 100%;
    width: 100%;
    border-radius: 2%;  
     
}
#textAlbum{
    font-weight: 300;
    font-size: 78%;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
    color: blanchedalmond;
    
}
.descripcion{
    padding: 2px;
    display: grid;
    grid-template-rows: 20% 20% 10% 10% 20%;
    grid-template-columns: 100%;
    
    
    color: white;
}



.footer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background: linear-gradient(90deg, rgb(1, 63, 65), rgb(42, 105, 102),rgba(2, 158, 137, 0.726));
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 46px;
    z-index: 15;
} 
.scuchando{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}
.controle{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
audio{
    width: 20px;
    height: 20px;
    opacity: 0.8;
    text-align: left;
    position: relative;
    top: 15px;
}
.nombre{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin-left: 0px;
    margin-bottom: 14px;
}
#l{
    height: 42px;
    width: 54px;
    
    padding: 2px;
    border-right: white 1px solid;
}
h3{
    position: relative;
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}



#d{
    width: 130px;
    height: 75px;
    position: relative;
    top: -20px;
    left: 5px;
    margin-top: 15px;
}
.icons{
    text-align: center;
    font-size: 42px;
    margin-left: 16px;
    margin-top: 6px;
    color: white;
}
.buscar{
    overflow: hidden;
    padding: 20px;
}
#i{
    
    margin-top: 10px;
}


#s{
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: gray 1px solid;
    font-size: 19px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#tituloAlbum{
    
    text-decoration: underline rgba(2, 112, 114, 0.548) ;
    font-size: 22px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#nombreDelArtista{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#fecha{
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fas.fa-ellipsis-h{
    font-size: 30px;
    position: relative;
    left: 105px;
    top: 60px;
}
.b{
    
    width: 165px;
    position: relative;
    left: -13px;
    height: 27px;
    bottom: 5px;
    border-color: rgb(1, 1, 24);
    border-radius: 35px;
    border-style: solid;
    color: #333;
    
}
.audiios {
    display: grid;
    grid-template-rows: repeat (8, 50px);
    grid-template-columns: 1fr 5fr 1fr;
    height: 50px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.685);
}
audio {
    width: 20px;
    height: 20px;
    opacity: 0.8;
    text-align: left;
    position: relative;
    top: 15px;
}
.otros {
    display: grid;
    grid-template-rows: 20px 20px;
    position: relative;
    bottom: 7px;
}
.audiios img {
    width: 40px;
    height: 40px;
}
.audiios h2 {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 15px;
}
.audiios h3 {
    font-size: 12px;
    color: white;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}

@media (max-width:768px){

    .section1{
        grid-template-columns: 30% 70%;
    }
    

    h3{
        text-align: center;
    }

}

@media (max-width:375px){
    .section1{
        grid-template-columns: 35% 65%;
    }
    .topnav.responsive a {
        left: 356px;
    }
    .topnav a{
        font-size: 15px;
        width: 85px;
    }
    .lineass{
        right: -179px;
        position: absolute;
        top: 10px;
    }
    #i{
        position: absolute;
    
        top: 7px;
    }
    
    
   
    
    #s{
        margin-top: 10px;
        margin-bottom: 5px
    }
    
    .Songs{
        height: 200px
    }
    
    
    #d{
        width: 80px;
        height: 47px;
        position: relative;
        top: -32px;
        left: 5px;
        margin-top: 35px;
    }
    
    #l{
        margin-left: 0px;
    }
    h3{
        left: 9px;
    }
    .sectionSongs{
        grid-template-rows: 216px;
    }

}
@media(max-width:320px){
    .b{
        left: -11px;
    }
    .sectionSongs{
        grid-template-rows: 205px;
    }
    
    
    h3{
        font-size: 9px;
    }
   
}