.containerr{
    margin: auto;
    gap: 20px;
    text-align: center;
    width: 100%;
    margin-top: 130px;
    background: linear-gradient(90deg, rgb(87, 84, 84), rgb(58, 58, 58));
}
/*HEADER ALTERNATIVO*/

.header2{
    
    background: rgba(34,34,34,0.75);
    display: grid;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 95px;
    grid-template-columns: 2% 6% 92%;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
.caja-logo{
    height: 90px;
    margin-top: 5px;
}
.icons-alternativo{
    color: white;
    font-size: 30px;
    position: fixed;
    top: 30px;
}
.logo-alternativo{
    border-radius: 50%;

    width: 85px;
    height: 95%;
    object-fit: unset;
    background: white;
    border: 1px solid white;
    
}
.header-items-alt{
    display: grid;
    grid-template-columns: 90% 9%;

}
.b-alt {
    height: 30px;
    padding: 0 46px 0 10px;
    background-color: white;
    color: #333;
    border: 1px solid white;
    font-size: 80%;
    width: 30%;
    margin-top: 20px;
}

/*main*/
.seccion222{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    margin-top: 50px;
}
.seccion222 img{
    border-radius: 10%;
}
.columna img{
    height: 250px;
    width: 250px;

}
/*FIN DE HEADER ALT.*/
.loader {
    border: 5px solid #f3f3f3; /* Gris Claro */
    border-top: 5px solid rgb(56, 54, 54); /* Gris oscuro */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: relative;
    bottom: 35px;
  }
.loader .hidden{
  animation: fadeOut 1s; 
  animation-fill-mode: forwards;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}




@media(max-width:1024px){
    .seccion222{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:768px){
    .seccion222{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
    }
    .columna img{
        height: 200px;
        width: 200px;
    }
}

@media(max-width: 555px){
    .seccion222{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 425px){
    .columna img{
        width: 180px;
        height: 180px;
    }
    .icons-alternativo{
        position: relative;
        right: 6px;
    }
}

@media(max-width: 375px){
    .columna img{
        width: 150px;
        height: 150px;
    }
    .menu a{
        font-size: 10px;
    }
}

@media(max-width: 330px){
    .columna img{
        width: 120px;
        height: 120px;
    }
    .titulo{
        font-size: 15px;
    }
}