*{
    box-sizing: border-box;
}
.containerr{
    margin: auto;
    gap: 20px;
    border: 8px solid white;
    text-align: center;
    width: 100%;
    margin-top: 130px;
    background: linear-gradient(90deg, rgb(87, 84, 84), rgb(58, 58, 58));
}
/*HEADER ALTERNATIVO*/

.header2{
    display: grid;
    background: rgba(34,34,34,0.75);
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 95px;
    grid-template-columns: 2% 6% 92%;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
.caja-logo{
    height: 90px;
    margin-top: 5px;
}
.icons-alternativo{
    color: white;
    font-size: 30px;
    position: fixed;
    top: 30px;
}
.logo-alternativo{
    border-radius: 50%;

    width: 85px;
    height: 95%;
    object-fit: unset;
    background: white;
    border: 1px solid white;
    
}
.header-items-alt{
    display: grid;
    grid-template-columns: 90% 9%;

}
.b-alt {
    height: 30px;
    padding: 0 46px 0 10px;
    background-color: white;
    color: #333;
    border: 1px solid white;
    font-size: 80%;
    width: 30%;
    margin-top: 20px;
}

/*FIN DE HEADER ALT.*/ 
/*BARRA DE BUSQUEDA*/

.BarraDeBusqueda {
    display: grid;
    grid-template-rows: 60% 40%;
}

.bA {
 	height: 35px;
    padding: 0 46px 0 10px;
	border-color: rgb(34, 34, 34);
    border-radius: 35px;
    color: #333;
    font-size: 15px;
    width: 50%;
    margin-top: 30px;
}
.buscarA{
    text-align: end;
}
.menuA{
    text-align: end;
}
.nombre-artista{
    text-align: center;
    height: 200px;
    color: white; 
    margin-top: 30px;
}
.nombre-artista img{
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
    width: 150px;
}
.nombre-artista h2{
    font-family: "Gill Sans", sans-serif;
}
.cancioness{
    margin-left: 50px;
    margin-right: 50px;
}
.titulo1{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 50px;
    font-size: 25px;
    color: white;
    text-align: left;
}
.audiiios{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 50px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.685);
    margin-bottom: 5px;
}
.audiiios img{
    width: 50px;
    height: 50px;
}

.audiiios h2{
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: white;
    font-size: 17px;
}
.audiiios h3{
    font-size: 12px;
    color: white;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    position: relative;
    bottom: 7px;
}
.otrosss{
    position: relative;
    bottom: 10px; 
}
.divisor2{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 50px;
    font-size: 25px;
    color: white;
    text-align: left;
    margin-top: 50px;
    height: 50px;
}
.albums{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}
.albums div div img{
width: 85%;
border-radius: 10%;
}
.albums div a{
    text-decoration: none;
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: bold;
    color:whitesmoke ;
    background-color: transparent;
    text-align: center;
    position: relative;
    top: 20px;
}
.img-container{
    text-align: center;
}
.divisor3{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 50px;
    font-size: 25px;
    color: white;
    text-align: left;
    margin-top: 70px;
}
.otros{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 20px;
    margin-bottom: 80px;
}
.otros img{
    object-fit: cover;
    border-radius: 50%;
}
.otros a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: white;
    text-align: left;
    position: relative;
    top: 20px;
}

footer{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background: linear-gradient(90deg, rgba(2, 39, 201, 0.726),rgb(63, 153, 255));
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 46px;
    z-index: 15;
}
footer img{
    width: 40px;
    height: 40px;
}
.iconoos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.cancionnn div h2{
    color: white;
    position: relative;
    bottom: 8px;
    left: 10px;
    margin-left: 30px;
}
.cancionnn div h3{
    color: white;
    position: relative;
    bottom: 7px;
    left: 10px;
    margin-left: 30px;
}
.cancionnn div img{
    position: relative;
    top: 3px;
    margin-left: 50px;
    margin-right: 10px;
}
.cancionnn div.otros{
    border-left: 1px solid white;
    position: relative;
    top: 0;
}
.cancionnn div audio{
    position: relative;
    bottom: 15px;
}
.play{
    font-size: 33px;
    color: white;
    position: fixed;
    bottom: 7px;
}

.youtube{
    font-size: 25px;
    color: white;
    position: fixed;
    bottom: 10px;
}

.aleatorio{
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 12px;
}
.repetir{
    font-size: 25px;
    color: white;
    position: fixed;
    bottom: 10px;
}

.mute{
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 12px;
}

/*ABAJO*/

.deezer img{
    object-fit: fill;
    width: 150px;
    height: 80px;
    position: relative;
    top: 50px;
    right: 60px;
    margin-bottom: 90px;
}

/* Media Queries */
/*Tablets*/

@media(max-width: 768px){
    body{
        background: linear-gradient(90deg,rgba(1, 5, 8, 0.534), rgb(25, 30, 44));
        background-size: 250%;
        background-repeat: no-repeat;
        width: 250%;
    }
    .header{
        height: 95px;
    }
    .logo{
        width: 90px;
        height: 85px;
        position: relative;
        left: 0px;
    }
    .BarraDeBúsqueda{
        width: 200px;
    }

}

/*Mobile*/
@media(max-width: 425px){
    
    .container{
        width: 100%;
        height: 3500px;
    }
}