*{
    box-sizing: border-box;
}
body{
    background-image: url(imagenes/bg.degra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: grid;
    grid-template-rows: 200px 50px 200px 60px;
    row-gap: 30px;
    padding: 20px;
}
header{
    text-align: center;
}
header img{
    width: 200px;
    border-radius: 50%;
}
a{
color:white;
}
.top5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 10px;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color:whitesmoke ;
}
iframe{
    width: 90%;
    border-radius: 7%;
}
.albums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color:whitesmoke ;
}
.albums img{
width: 80%;
position: relative;
border-radius: 10%;
}
.albums button{
    border: medium;
    text-align: center;
    color:whitesmoke;
    font-size: 100%;
    background-color: rgba(241, 32, 189, 0.4);
}
.otros{
    display: grid;
    padding: 10px;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
}
h3{
    text-align: center;
    background-color: rgba(241, 32, 189, 0.4);
    height: 30px;
}