/*HEADER ALTERNATIVO*/

.header2{
    display: grid;   
    background: rgba(34,34,34,0.75);
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 95px;
    grid-template-columns: 2% 6% 92%;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
.caja-logo{
    height: 90px;
    margin-top: 5px;
}
.icons-alternativo{
    color: white;
    font-size: 30px;
    position: fixed;
    top: 30px;
}
.logo-alternativo{
    border-radius: 50%;
    width: 85px;
    height: 95%;
    object-fit: unset;
    background: white;
    border: 1px solid white;
    
}
.header-items-alt{
    display: grid;
    grid-template-columns: 90% 9%;

}
.b-alt {
    height: 30px;
    padding: 0 46px 0 10px;
    background-color: white;
    color: #333;
    border: 1px solid white;
    font-size: 80%;
    width: 30%;
    margin-top: 20px;
}

/*FIN DE HEADER ALT.*/

.imagen-genero{
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    top: 100px;
    text-transform: uppercase;
}
.tituloo{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    position: relative;
    bottom: 150px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.artistass{
    position: relative;
    top: 100px;
}

.artistasss{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    row-gap: 50px;
    text-align: center;
    color: white;
}
.imagenn{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.loader {
    border: 5px solid #f3f3f3; /* Gris Claro */
    border-top: 5px solid rgb(56, 54, 54); /* Gris oscuro */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: relative;
    bottom: 98px;
    left: 220px;
  }
.loader .hidden{
  animation: fadeOut 1s; 
  animation-fill-mode: forwards;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
.artistgenero{
    background-color: white;
    padding: 1em;
    background: rgb(0, 0, 0);
    color: #d1d1d1;
    font-family: "Gill sans", sans-serif;
    font-size: 30px;
}
.footerjaja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 120px;
}

@media(max-width:1250px){
    .artistasss{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:1000px){
    .artistasss{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .imagen-genero{
        width: 150px;
        height: 150px;
    }
    .tituloo{
        position: relative;
        bottom: 125px;
    }
}
@media(max-width: 915px){
    .integrantes{
        display: grid;
        grid-template-rows: 45px 45px 45px 45px;
        text-align: left;
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        color: white;
    }
}
@media(max-width:768px){
    .footerjaja{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .redes{
        position: relative;
        top: 80px;
    }
    .redes img{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .deezer{
        object-fit: fill;
        width: 150px;
        height: 80px;
        text-align: left;
        position: relative;
        left: 55px;
        bottom: 30px;
        margin-bottom: 90px;
    }
    .integrantes{
        display: grid;
        grid-template-rows: 35px 20px 20px 20px;
        text-align: left;
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        color: white;
        position: relative;
        bottom: 90px;
    }
    .artistasss{
        grid-template-columns: 1fr 1fr;
    }
}
    
@media(max-width: 525px){
    .artistasss img{
        width: 140px;
        height: 140px;

    }
}

@media(max-width: 425px){
    .artistasss img{
        width: 100px;
        height: 100px;

    }
}

