/*HEADER ALTERNATIVO*/

.header2{
    display: grid;   
    background: rgba(34,34,34,0.75);
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 95px;
    grid-template-columns: 2% 6% 92%;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
.caja-logo{
    height: 90px;
    margin-top: 5px;
}
.icons-alternativo{
    color: white;
    font-size: 30px;
    position: fixed;
    top: 30px;
}
.logo-alternativo{
    border-radius: 50%;

    width: 85px;
    height: 95%;
    object-fit: unset;
    background: white;
    border: 1px solid white;
    
}
.header-items-alt{
    display: grid;
    grid-template-columns: 90% 9%;

}
.b-alt {
    height: 30px;
    padding: 0 46px 0 10px;
    background-color: white;
    color: #333;
    border: 1px solid white;
    font-size: 80%;
    width: 30%;
    margin-top: 20px;
}

/*FIN DE HEADER ALT.*/

.imagen-genero{
    width: 200px;
    height: 200px;
    align-items: center;
}
.artistasss{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    color: white;
}
.imagenn{
    width: 150px;
    height: 150px;

}

@media(max-width:768px){
.artistasss{
    grid-template-columns: 1fr 1fr 1fr;
}
.imagen-genero{
    width: 150px;
    height: 150px;
}
}
