/*HEADER ALTERNATIVO*/

.header2{
    display: grid;   
    background: rgba(34,34,34,0.75);
    height: 95px;
    grid-template-columns: 2% 10% 88%;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
.containerr{
    margin-top: 90px;
}
.caja-logoo{
    height: 90px;
    margin-top: 5px;
}
.icons-alternativo{
    color: white;
    font-size: 30px;
    position: fixed;
    top: 6%;
}
.logo-alternativo{
    border-radius: 50%;
    width: 85px;
    height: 95%;
    object-fit: unset;
    background: white;
    border: 1px solid white;
}
.header-items-alt{
    display: grid;
    grid-template-columns: 90% 9%;

}
.b-alt {
    height: 30px;
    padding: 0 46px 0 10px;
    background-color: white;
    color: #333;
    border: 1px solid white;
    font-size: 80%;
    width: 30%;
    margin-top: 20px;
}
#ii{
	border: 1.5px solid rgb(34, 34, 34);
    border-radius: 50%;
}
/*FIN DE HEADER ALT.*/
.todo-generos{
    background-color: rgba(31, 30, 30, 0.822);
    padding-top: 30px;
}
.seccion12{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 10px;  
    border-bottom: 1px solid rgba(34, 30, 30, 0.918);
}
.titulo1{
    font-size: 17px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: left;
    margin-left: 80px;
    border-bottom: 1px solid grey;
}
.genero1{
    position: relative;
    bottom: 140px;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}
.img-containerr{
    height: 250px;
    width: 100%;
    text-align: center;
}



.loader {
    border: 5px solid #f3f3f3; /* Gris Claro */
    border-top: 5px solid rgb(56, 54, 54); /* Gris oscuro */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: relative;
    bottom: 35px;
    left: 20px;
  }
.loader .hidden{
  animation: fadeOut 1s; 
  animation-fill-mode: forwards;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}




@media(max-width:1250px){
    .seccion12{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img-containerr{
        height: 200px;
        width: 3fr;
        text-align: center;
    }
}

@media(max-width:1000px){
    .seccion12{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .img-containerr{
        height: 200px;
        width: 2fr;
        text-align: center;
    }
}

@media(max-width:768px){
    .seccion12{
        grid-template-columns: 1fr;
    }
    .img-containerr{
        width: 1fr;
        text-align: center;
    }
}
@media(max-width: 530px){
    div.seccion12{
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
    }
    .genero1{
        font-size: 80%;
        bottom: 85px;
    }
    .seccion12 img{
        width: 160px;
        
    }
}
@media(max-width: 425px){
    .titulo1{
        margin-left: 10px;
     }
     .menuuu a{
         font-size: 15px;
     }
     .icons-alternativo{
         position: relative;
         top: 17px;

     }
}

@media(max-width: 375px){
     .menuuu a{
         font-size: 10px;
         position: relative;
         top: 30px;
     }
     .icons-alternativo{
         position: relative;
         top: 20px;
         font-size: 20px;         
     }
    .seccion12 img{
        width: 130px;
    }
    .img{
        column-gap: unset;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }
}

@media(max-width: 320px){
   div.seccion12{
       grid-template-columns: 1fr;
   }
   .seccion12 img{
    width: 230px;
}
}