.logoo1 {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.main-nav1{
    display: grid;
    grid-template-columns: 80% 20%;
}
.BarraDeBúsquedax1{
    display: grid;
    grid-template-rows: 60% 40%;
}
#myTopnav1{
    margin-top: 10px;
}
.b1{
    height: 40px;
    padding: 0 46px 0 10px;
    border-color: rgb(34, 34, 34);
    border-radius: 35px;
    border-style: solid;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    width: 50%
}
.buscar1{
    margin-top: 15px;
    
}
.header2{
    grid-template-columns: 15% 85%;
}
.iconss1{
    color: white;
    font-size: 30px;
    position: fixed;
    top: 25px;
}