*{
    box-sizing: border-box;
}
body{
    background-color: white; 
    padding: 1em;
    background: rgb(0, 0, 0);
    color: #777;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
}
.container{
    text-align: center;
    margin-top: 110px;
    padding: 8px;
}


.header{
    display: grid;
    height: 120px;
    grid-template-columns: 1fr 3fr;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
}
.header2{ /*perfil*/
    display: grid;
    background: linear-gradient(90deg, rgb(92, 238, 238), rgb(63, 153, 255),rgba(2, 39, 201, 0.726));
    height: 90px;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
}
.logo{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-top: 5px;
    position: relative;
    right: 60px;
    background-color: white;
    border: 1px solid white;
}
.header-items{
    display: grid;
    grid-template-columns: 75% 25%;
}
.menu a{
    font-size: 20px;
}
.icons{
    color: white;
    font-size: 30px;
    position: fixed;

    top: 46px;
}
#i{
	border: 1.5px solid rgb(34, 34, 34);
    border-radius: 50%;
}
/*BARRA DE BUSQUEDA*/

.BarraDeBusqueda {
    display: grid;
    grid-template-rows: 60% 40%;
}

.b {
    height: 30px;
    padding: 0 46px 0 10px;
    background-color: white;
    color: #333;
    border: 1px solid white;
    font-size: 80%;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 3%;
}

.button{
    position: relative;
    right: 5px;
    height: 30px;
    border-left: hidden;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 3%;
  }
.buscar{
    text-align: end;
}
.menu{
    text-align: end;
}
/*TERMINA BARRA DE BÚSQUEDA*/

.todo{
    display: grid;
    grid-template-rows: 50px 340px 50px 360px 50px 330px 50px 400px;
    background: rgba(31, 30, 30, 0.822);
    box-shadow: -4px 0 15px rgba(202, 201, 201, 0.26);
}
.carrusel{
    display: grid;
    grid-template-columns: 1fr 70fr 1fr;
}
.seccion1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(31, 27, 27, 0.918);
}
.seccion1 div img{
    object-fit: cover;
    border-radius: 50%;
}
.botonCarrusel{
    background-color: unset;
    color: rgb(255, 255, 255);
    font-size: 150%;
    border: none;
}
.artista1{
    position: relative;
    top: 35px;
}
.seccion2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    padding: 20px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(34, 30, 30, 0.918);
}
.seccion2 img{
    border-radius: 10%;
}
.t-albums{
    position: relative;
    top: 35px;
}
.seccion3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(34, 30, 30, 0.918);
}
.tracks{
    position: relative;
    top: 35px;
}
.seccion4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 10px;  
    margin-top: 30px;
    border-bottom: 1px solid rgba(34, 30, 30, 0.918);
}
.genres{
    position: relative;
    bottom: 140px;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    
}
.titulo{
    font-size: 17px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 20px;
    text-align: left;
    margin-left: 80px;
    border-bottom: 1px solid grey;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a{
    font-size: 17px;
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
}

/*BARRA FOOTER*/

.barraa{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background: linear-gradient(90deg, rgba(2, 39, 201, 0.726),rgb(63, 153, 255));
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 46px;
    z-index: 15;
}
.barraa img{
    width: 40px;
    height: 40px;
}
.iconoos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.cancionnn div h2{
    color: white;
    position: relative;
    bottom: 8px;
    left: 10px;
    margin-left: 30px;
}
.cancionnn div h3{
    color: white;
    position: relative;
    bottom: 7px;
    left: 10px;
    margin-left: 30px;
}
.cancionnn div img{
    position: relative;
    top: 3px;
    margin-left: 50px;
    margin-right: 10px;
}
.cancionnn div.otros{
    border-left: 1px solid white;
    position: relative;
    top: 0;
}
.cancionnn div audio{
    position: relative;
    bottom: 15px;
}
.play{
    font-size: 33px;
    color: white;
    position: fixed;
    bottom: 7px;
}

.youtube{
    font-size: 25px;
    color: white;
    position: fixed;
    bottom: 10px;
}

.aleatorio{
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 12px;
}
.repetir{
    font-size: 25px;
    color: white;
    position: fixed;
    bottom: 10px;
}

.mute{
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 12px;
}

/*ABAJO*/

.nosotros{
    height: 400px;
    margin-right: 80px;
    padding: 1rem;
    background: linear-gradient(90deg,rgb(34, 71, 107), rgb(42, 105, 102));
    margin-top: 20px;
    width: 100%;
}
.slogan{
    font-family: 'Spartan', sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    top: 150px;
}
.deezer img{
    object-fit: fill;
    width: 150px;
    height: 80px;
    position: relative;
    top: 50px;
    right: 60px;
    margin-bottom: 90px;
}

/*MI PERFIL HTML*/

.foto{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.863);
    text-align: left;
    position: fixed;
    left: 50px;
    top: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.datos{
    margin-top: 15px;
}
.foto h2{
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}
.foto h3{
    font-size: 10px;
    color: white;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}
.iconss{
    color: white;
    font-size: 30px;
    position: fixed;
    right: 100px;
    top: 25px;
}

.columnas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
}
.c{
    border: 1px solid black;
}
.col1{
    display: grid;
    grid-template-rows: 35px 500px;
    padding: 1rem;
    background: rgba(31, 30, 30, 0.822);
    box-shadow: -4px 0 15px rgba(218, 217, 217, 0.26);
}
.col1 a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
}
.col2{
    display: grid;
    grid-template-rows: 35px 500px;
    padding: 1rem;
    background: rgba(31, 30, 30, 0.822);
    box-shadow: -4px 0 15px rgba(255, 255, 255, 0.26);
}
.col2 a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
}
.col3{
    padding: 1rem;
    background: rgba(31, 30, 30, 0.822);
    box-shadow: -4px 0 15px rgba(202, 201, 201, 0.26);
}
.col3 a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
}
.playlists{
    display: grid;
    grid-template-rows: repeat (8, 15px);
    gap: 10px;
    margin-top: 35px;
}
.canciones{
    gap: 10px;
    margin-top: 35px;
    display: grid;
    grid-template-rows: repeat (8, 15px);
    gap: 10px;
    margin-top: 25px;
}
.otros{
    display: grid;
    grid-template-rows: 20px 20px;
    position: relative;
    bottom: 10px;
}
.audiios{
    display: grid;
    grid-template-rows: repeat (8, 50px);
    grid-template-columns: 1fr 5fr 1fr;
    height: 50px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.685);
}
.audiios img{
    width: 40px;
    height: 40px;
}

.audiios h2{
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 15px;
}
.audiios h3{
    font-size: 12px;
    color: white;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}
audio{
    width: 20px;
    height: 20px;
    opacity: 0.8;
    text-align: left;
    position: relative;
    top: 15px;
}
.p{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 50px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.685);
}
.p img{
    width: 40px;
    height: 40px;
}
.p h2{
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 15px;
}
.p h3{
    text-align: right;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 80;
    color: white;
    font-size: 12px;
    color: rgb(170, 169, 169);
}
.playlists::-webkit-scrollbar:vertical {
    width:10px;
}

.playlists::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
.playlists::-webkit-scrollbar:horizontal {
    height: 10px;
}
.playlists::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    
}
.playlists::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.pp{
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 15px;
    position: relative;
    bottom: 17px;
}
.foto img{
    height: 40px;
    width: 40px;
}
.mase{
    display: grid;
    grid-template-rows: repeat (8, 50px);
    gap: 10px;
    margin-top: 35px;
}
.me{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 50px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.685);
}
.me img{
    width: 40px;
    height: 40px;
}
.me h2{
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}
.me a{
    border-bottom: unset;
}
.cog{
    position: fixed;
    top: 37px;
    left: 15px;
    color: rgb(70, 70, 70);
}

/*EMPIEZA PÁGINA PLAYLISTS*/

.cuerpo{
    display: grid;
    grid-template-columns: 2fr 6fr;
    margin-top: 100px;
}
.columnaa1{
    display: grid;
    grid-template-rows: 35px 490px;
    padding: 1rem;
    background: linear-gradient(90deg,rgba(20, 20, 20, 0.534), rgb(53, 53, 53));
    position: relative;
    right: 8px;
    bottom: 4px;
}
.columnaa1 .titulooo{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
}
.columnaa2{
    display: grid;
    grid-template-rows: 35px 490px;
    background: linear-gradient(90deg,rgba(26, 26, 26, 0.849), rgba(14, 14, 14, 0.836));
    padding: 20px;
    position: relative;
    bottom: 5px;
}
.titulocanciones{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}
.cancioness{
    margin-top: 20px;
}
.audiios .escuchando{
    color: rgb(6, 148, 148);
}
.p .escuchando{
    color: rgb(123, 211, 211);
    position: relative;
    bottom: 8px;
}

/*Género*/
.container-genre{
    margin: auto;
    gap: 20px;
    border: 8px solid white;
    text-align: center;
    width: 100%;
    margin-top: 130px;
    background: linear-gradient(90deg, rgb(87, 84, 84), rgb(58, 58, 58));
}
.generos{
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url(imagenes/bg.degra.jpg);
    background-repeat: no-repeat;
    background-size: 250%;
}
.artistasGeneros{
   text-align: center;
}
.top5Generos{
    text-align: center;
}
.tusFavoritosGeneros{
    text-align: center;
}

@media (max-width: 320px){
    .todo{
        width: 100%;
        grid-template-rows: 70px 400px 70px 400px 70px 400px;
    }
    .seccion1{
        grid-template-columns: 1fr 1fr;
    }
    .titulo{
        font-size: 30px;
    }
    .seccion1 div img{
        width: 300px;
        height: 300px;
    }
    .seccion1 div a{
        top: 40px;
        right: 180px;
        font-size: 30px;
    }
    .titulo2{
        font-size: 30px;
    }
    .seccion2{
        grid-template-columns: 1fr 1fr;
    }
    .seccion2 div img{
        width: 300px;
        height: 300px;
    }
    .seccion2 div a{
        font-size: 30px;
    }
    .titulo3{
        font-size: 30px;
    }
    .seccion3{
        grid-template-columns: 1fr 1fr;
    }
    .col3{
        height: 100%;
    }
    .col3 a{
        font-size: 13px;
    }
    .me{
        margin-left: 5px;
    }
    .me h2{
        margin-left: 5px;
    }
    .me h3{
        margin-left: 5px;
    }
    /*PAG PPAL*/
        .header{
            height: 190px;
        }
        .logo{
            width: 170px;
            height: 170px;
            right: 30px;
        }
        #i{
            position: relative;
            top: -94px;
            left: 0px;        
        }
        .todo{
            margin-top: 188px;
        }
        .titulo2{
            top: 45px;
        }
        .titulo2{
            top: 53px;
        }
        .seccion2 div img {
            margin-left: 32px;
            width: 379px;
        }
        #cancionnn img {
            width: 125px;
            height: 145px;
        }
        #cancionnn div h3 {
            margin-left: 0;
            font-size: 27px;
            position: relative;
            top: 33px
        }
        #aleatorio{
            font-size: 60px;
        }
        #youtube{
            font-size: 60px;
        }
        #play{
            font-size: 80px;
            top: 0px;
        }
        #repetir{
            font-size: 60px;
        }
        #mute{
            font-size: 60px;
        }
    /*PLAYLISTS*/
    .cuerpo{
        grid-template-columns: 1fr;
        height: 840px;
        width: 100%;
    }
    .columnaa1{
        display: none;
    }
    .columnaa2{
        width: 325px;
        position: relative;
        right: 8px;
    }
    .columnaa2 .titulocanciones{
        font-size: 15px;
    }
    .audiios{
        margin-left: 2px;
        height: 53.3px;
    }
    .audiios h2{
        margin-left: 5px;
        font-size: 12px;
        position: relative;
        top: 5px;
    }
    .audiios h3{
        margin-left: 5px;
    }
    .logoo{
        width: 60px;
        height: 60px;
        position: relative;
        left: 0px;
        top: 10px;
    }
    .BarraDeBúsquedax{
        position: fixed;
        right: 10px;
        top: 45px;
        width: 160px;
    }
    .b{
        font-size: 10px;
        height: 25px;
        border-radius: 10px;
    }
    .lineass{
        position: fixed;
        right: 20px;
        top: 18px;
        font-size: 20px;
    }
    .iconss{
        font-size: 20px;
    }
    .cancionnn div img{
        margin-left: 5px;
    }
    .cancionnn div h2{
        margin-left: 0;
        font-size: 10px;
        width: 80px;
    }
    .cancionnn div h3{
        margin-left: 0;
        font-size: 8px;
        position: relative;
        top: 1px;
    }
    .cancionnn div audio{
        position: relative;
        left: 10px;
    }
    .play{
        position: relative;
        top: 18px;
        font-size: 22px;
        right: 2px;
    }
    .aleatorio{
        font-size: 12px;
        position: relative;
        top: 18px;
        right: 5px;
    }
    .youtube{
        font-size: 17px;
        position: relative;
        top: 20px;
        right: 7px;
    }
    .repetir{
        font-size: 17px;
        position: relative;
        top: 21px;
        left: 4px;
    }
    .mute{
        font-size: 12px;
        position: relative;
        top: 20px;
        left: 8px;
    }
}

@media(max-width: 768px){
    .todo{
        width: 1105px;
        background: linear-gradient(90deg,rgba(20, 20, 20, 0.534), rgb(53, 53, 53));
    }
    .perfil{
        background: linear-gradient(90deg,rgba(20, 20, 20, 0.534), rgb(53, 53, 53));
        border: 0;
    }
    .titulo{
        position: relative;
        top: 15px;
    }
    .seccion1{
        gap: 10px;
        position: relative;
        right: 8px;
    }
    .titulo2{
        position: relative;
        top: 15px;
    }
    .seccion2{
        position: relative;
        right: 8px;
        top: 15px;
    }
    .titulo3{
        position: relative;
        top: 30px;
    }
    
    .seccion3{
        height: 380px;
        position: relative;
        right: 8px;
    }
    .seccion3 div img{
        position: relative;
        top: 60px;
    }
    .seccion3 a{
        position: relative;
        top: 80px;
    }
    .nosotros{
        width: 1105px;
    }
    .BarraDeBúsqueda{
        position: fixed;
        top: 20px;
    }
    
    .lineas{
        position: fixed;
        top: 25px;
    }
    .deezer{
        position: relative;
        left: 220px;
    }
    .barrapie{
        height: 50px;
    }

    /*PLAYLISTS*/
    .cuerpo{
        grid-template-columns: 2fr 5fr;
        width: 100%;
        height: 100%;
    }
    .titulocanciones{
        font-size: 20px;
    }
    .columnaa1 .titulooo{
        font-size: 20px;
    }
    .columnaa1{
        padding: 5px;
    }
    .p{
        margin-left: unset;
    }
    .p h2{
        font-size: 12px;
        margin-left: 4px;
        position: relative;
        padding-top: 2px;
    }


}
@media(max-width: 1200px){
    .columnas{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    }
    .perfil{
        background: linear-gradient(90deg,rgba(20, 20, 20, 0.534), rgb(53, 53, 53));
    }
}

@media(max-width: 840px){
    .foto{
        width: 200px;
    }
    .fotonombre{
        width: 50px;
    }
    .BarraDeBúsquedax{
        width: 130px;
    }
    .columnas{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    }
    .audiiios img{
        position: relative;
        right: 40px;
    }
    .otroos{
        position: relative;
        right: 40px;
    }
    .otroos h3{
        display: none;
    }
}
@media(max-width: 530px){
    .datos{
        display: none;
    }
    .iconoos{
        width: 100%;
    }
}
@media(max-width: 440px){
    .fotonombre{
        display: none;
    }
    .col1{
    height: 600px;
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px 45px ;
    }
    .col1 h2{
        position: relative;
        top: 10px;
    }
    .audiios img{
    position: relative;
    top: 10px;
    }
    .otros h2{
        font-size: 13px;
    }
    .otros h3{
        font-size: 12px;
        position: relative;
        top: 5px;
    }
}
@media(max-width: 375px){
    .otros h2{
        font-size: 10px;
        margin-left: 2px;
    }
    .otros h3{
        font-size: 10px;
        margin-left: 2px;
    }
}


