*{
    box-sizing: border-box;
}
body{
    background-color: white; 
    padding: 1em;
    background: rgb(0, 0, 0);
    color: #777;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
}
.container{
    text-align: center;
    padding: 8px;
}
.header{
    display: grid;
    height: 130px;
    grid-template-columns: 1fr 3fr;
    z-index: 15;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.678);
}
.header2{ /*perfil*/
    display: grid;
    background: linear-gradient(90deg, rgb(92, 238, 238), rgb(63, 153, 255),rgba(2, 39, 201, 0.726));
    height: 90px;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
}
.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid white;
    margin-right: 50px;
}
.header-items{
    display: grid;
    grid-template-columns: 75% 25%;
}
.menu a{
    font-size: 20px;
}
.icons{
    color: white;
    font-size: 30px;
    position: relative;
    top: 30px;
}
#i{
	border: 1.5px solid rgb(34, 34, 34);
    border-radius: 50%;
}
/*BARRA DE BUSQUEDA*/

.BarraDeBusqueda {
    display: grid;
    grid-template-rows: 60% 40%;
}

.b {
    height: 30px;
    padding: 0 46px 0 10px;
    background-color: white;
    color: #333;
    border: 1px solid white;
    font-size: 80%;
    width: 45%;
    margin-top: 30px;
    margin-bottom: 3%;
}

.button{
    position: relative;
    right: 5px;
    height: 30px;
    border-left: hidden;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 3%;
  }
.buscar{
    text-align: end;
}
.menu{
    text-align: end;
}
.menuuu{
    text-align: end;
    margin-right: 10%;
    margin-top: 4%;
}
.login{
    margin-top: 30px;
}
/*TERMINA BARRA DE BÚSQUEDA*/

.todo{
    display: grid;
    grid-template-rows: 50px 340px 50px 360px 50px 330px 50px 400px;
    background: rgba(31, 30, 30, 0.822);
    box-shadow: -4px 0 15px rgba(202, 201, 201, 0.26);
    margin-top: 115px;
}
.carrusel{
    display: grid;
    grid-template-columns: 70fr 1fr;
}
.seccion1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(31, 27, 27, 0.918);
}
.seccion1 div img{
    object-fit: cover;
    border-radius: 50%;
}
.botonCarrusel{
    background-color: unset;
    color: rgb(255, 255, 255);
    font-size: 150%;
    border: none;
}
.artista1{
    position: relative;
    top: 35px;
}
.seccion2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    padding: 20px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(34, 30, 30, 0.918);
}
.seccion2 img{
    border-radius: 10%;
}
.t-albums{
    position: relative;
    top: 35px;
}
.seccion3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(34, 30, 30, 0.918);
}
.tracks{
    position: relative;
    top: 35px;
}
.seccion4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 10px;  
    margin-top: 30px;
    border-bottom: 1px solid rgba(34, 30, 30, 0.918);
}
.genres{
    position: relative;
    bottom: 140px;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    
}
.titulo{
    font-size: 17px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 20px;
    text-align: left;
    margin-left: 80px;
    border-bottom: 1px solid grey;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a{
    font-size: 17px;
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
}
/*ABAJO*/

.nosotros{
    height: 400px;
    margin-right: 80px;
    padding: 1rem;
    background: linear-gradient(90deg,rgb(34, 71, 107), rgb(42, 105, 102));
    margin-top: 20px;
    width: 100%;
    box-shadow: -4px 0 15px rgba(106, 149, 160, 0.26);
    border-radius: 3px;

}
.slogan{
    font-family: 'Spartan', sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    top: 150px;
}
.footerjaja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.seguinos{
    font-size: 17px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}
.redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.redes img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 60px;
    right: 115px;
    border-radius: 20px;
}
.deezer img{
    object-fit: fill;
    width: 150px;
    height: 80px;
    position: relative;
    top: 50px;
    right: 60px;
    margin-bottom: 90px;
}
.integrantes{
    display: grid;
    grid-template-rows: 35px 20px 20px 20px;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    color: white;
}

/*MI PERFIL HTML*/

.foto{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.863);
    text-align: left;
    position: fixed;
    left: 50px;
    top: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.datos{
    margin-top: 15px;
}
.foto h2{
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}
.foto h3{
    font-size: 10px;
    color: white;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}
.columnas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 100px;
}
.c{
    border: 1px solid black;
}
.col1{
    display: grid;
    grid-template-rows: 35px 500px;
    padding: 1rem;
    background: rgba(31, 30, 30, 0.822);
    box-shadow: -4px 0 15px rgba(218, 217, 217, 0.26);
}
.col1 a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
}
.col2{
    display: grid;
    grid-template-rows: 35px 500px;
    padding: 1rem;
    background: rgba(31, 30, 30, 0.822);
    box-shadow: -4px 0 15px rgba(255, 255, 255, 0.26);
}
.col2 a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
}
.playlists{
    display: grid;
    grid-template-rows: repeat (8, 15px);
    gap: 10px;
    margin-top: 35px;
}
.canciones{
    gap: 10px;
    margin-top: 35px;
    display: grid;
    grid-template-rows: repeat (8, 15px);
    gap: 10px;
    margin-top: 25px;
}
.p{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 50px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.685);
}
.p img{
    width: 40px;
    height: 40px;
}
.p h2{
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 15px;
}
.p h3{
    text-align: right;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 80;
    color: white;
    font-size: 12px;
    color: rgb(170, 169, 169);
}
.playlists::-webkit-scrollbar:vertical {
    width:10px;
}

.playlists::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
.playlists::-webkit-scrollbar:horizontal {
    height: 10px;
}
.playlists::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    
}
.playlists::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.pp{
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 15px;
    position: relative;
    bottom: 17px;
}
.foto img{
    height: 40px;
    width: 40px;
}
.mase{
    display: grid;
    grid-template-rows: repeat (8, 50px);
    gap: 10px;
    margin-top: 35px;
}
.me{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 50px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.685);
}
.me img{
    width: 40px;
    height: 40px;
}
.me h2{
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}
.me a{
    border-bottom: unset;
}
.cog{
    position: fixed;
    top: 37px;
    left: 15px;
    color: rgb(70, 70, 70);
}

/*MEDIAQUERIS*/

@media (max-width: 320px){
    .todo{
        width: 100%;
        grid-template-rows: 70px 400px 70px 400px 70px 400px 70px 400px;
    }
    .titulo{
        font-size: 30px;
    }
    .col3{
        height: 100%;
    }
    .col3 a{
        font-size: 13px;
    }
    .me{
        margin-left: 5px;
    }
    .me h2{
        margin-left: 5px;
    }
    .me h3{
        margin-left: 5px;
    }
    /*PAG PPAL*/
        .header{
            height: 190px;
        }
        
        #i{
            position: relative;
            top: -94px;
            left: 0px;        
        }
        .todo{
            margin-top: 188px;
        }
        #cancionnn img {
            width: 125px;
            height: 145px;
        }
        #cancionnn div h3 {
            margin-left: 0;
            font-size: 27px;
            position: relative;
            top: 33px
        }

    /*PLAYLISTS*/
    .cuerpo{
        grid-template-columns: 1fr;
        height: 840px;
        width: 100%;
    }
    .columnaa1{
        display: none;
    }
    .columnaa2{
        width: 325px;
        position: relative;
        right: 8px;
    }
    .columnaa2 .titulocanciones{
        font-size: 15px;
    }
    .audiios{
        margin-left: 2px;
        height: 53.3px;
    }
    .audiios h2{
        margin-left: 5px;
        font-size: 12px;
        position: relative;
        top: 5px;
    }
    .audiios h3{
        margin-left: 5px;
    }
    .logoo{
        width: 60px;
        height: 60px;
        position: relative;
        left: 0px;
        top: 10px;
    }
    .BarraDeBúsquedax{
        position: fixed;
        right: 10px;
        top: 45px;
        width: 160px;
    }
    .b{
        font-size: 10px;
        height: 25px;
        border-radius: 10px;
    }
    .lineass{
        position: fixed;
        right: 20px;
        top: 18px;
        font-size: 20px;
    }
    .iconss{
        font-size: 20px;
    }
    .cancionnn div img{
        margin-left: 5px;
    }
    .cancionnn div h2{
        margin-left: 0;
        font-size: 10px;
        width: 80px;
    }
    .cancionnn div h3{
        margin-left: 0;
        font-size: 8px;
        position: relative;
        top: 1px;
    }
    .cancionnn div audio{
        position: relative;
        left: 10px;
    }
}

@media(max-width: 768px){
    
    
    .perfil{
        background: linear-gradient(90deg,rgba(20, 20, 20, 0.534), rgb(53, 53, 53));
        border: 0;
    }
    .titulo{
        position: relative;
        top: 15px;
        margin-left: 20px;
    }
    .seccion1{
        gap: 10px;
        position: relative;
        right: 8px;
    }
    .titulo2{
        position: relative;
        top: 15px;
    }
    .seccion2{
        position: relative;
        right: 8px;
        top: 15px;
    }
    .titulo3{
        position: relative;
        top: 30px;
    }
    
    
    .seccion3 div img{
        
    }
    .seccion3 a{
        position: relative;
        top: 10px;
    }
    .slogan{
        font-size: 33px;
    }
    .BarraDeBúsqueda{
        position: fixed;
        top: 20px;
    }
    
    .lineas{
        position: fixed;
        top: 25px;
    }
    .deezer{
        position: relative;
        left: 220px;
    }
    .barrapie{
        height: 50px;
    }
    .footerjaja{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .deezer{
        object-fit: fill;
        width: 150px;
        height: 80px;
        text-align: left;
        position: relative;
        left: 80px;
        margin-bottom: 90px;
    }
    .integrantes{
        display: grid;
        ;
        text-align: left;
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        color: white;
    }
    .footerjaja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
img.instagram{
    width: 82%;
    height: 30%;
}
img.twitter{
    width: 82%;
    height: 30%;
}
img.facebook{
    width: 82%;
    height: 30%;
}
.deezer{
    font-size: 50px;
    text-align: right;
    position: relative;
    bottom: 5px;
}
.integrantes{
    text-align: right;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    color: grey;
}

    /*PLAYLISTS*/
    .cuerpo{
        grid-template-columns: 2fr 5fr;
        width: 100%;
        height: 100%;
    }
    .titulocanciones{
        font-size: 20px;
    }
    .columnaa1 .titulooo{
        font-size: 20px;
    }
    .columnaa1{
        padding: 5px;
    }
    .p{
        margin-left: unset;
    }
    .p h2{
        font-size: 12px;
        margin-left: 4px;
        position: relative;
        padding-top: 2px;
    }

}
@media(max-width: 1200px){
    .columnas{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    }
    .perfil{
        background: linear-gradient(90deg,rgba(20, 20, 20, 0.534), rgb(53, 53, 53));
    }
}
@media(max-width: 915px){
    .integrantes{
        display: grid;
        grid-template-rows: 45px 45px 45px 45px;
        text-align: center;
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        color: white;
    }
    .artista1 {
        position: relative;
        top: 5px;
    }
    .seccion1{
        overflow: hidden;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 100px;
    }
    .todo{
        grid-template-rows: 50px 280px 50px 280px 50px 280px 50px 400px;
    }
    .genres{
        
        bottom: 105px;
        font-size: 90%;
    }
    .seccion4{
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
        row-gap: 100px;
    }
}
@media(max-width: 840px){
    .foto{
        width: 200px;
    }
    .fotonombre{
        width: 50px;
    }
    .BarraDeBúsquedax{
        width: 130px;
    }
    .columnas{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    }
    .audiiios img{
        position: relative;
        right: 40px;
    }
    .otroos{
        position: relative;
        right: 40px;
    }
    .otroos h3{
        display: none;
    }
}
@media(max-width: 600px){
    .titulo{
        margin-left: 20px;
    }
    .todo {
        grid-template-rows: 50px 190px 50px 190px 50px 190px 50px 390px;
    }
    .seccion2{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 200px;
        overflow: hidden;
    }
}

@media(max-width: 530px){
    .datos{
        display: none;
    }
    .todo {
        grid-template-rows: 50px 190px 50px 245px 50px 190px 50px 300px;
    }
    .seccion4 {
        grid-template-columns: repeat(2, 50%);
    }
    .seccion3{
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
        row-gap: 100px;
    }
}
@media(max-width: 440px){
    .fotonombre{
        display: none;
    }
    .col1{
    height: 600px;
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px 45px ;
    }
    .col1 h2{
        position: relative;
        top: 10px;
    }
    .audiios img{
    position: relative;
    top: 10px;
    }
    .otros h2{
        font-size: 13px;
    }
    .otros h3{
        font-size: 12px;
        position: relative;
        top: 5px;
    }
    .slogan{
        font-size: 27px;
    }
    .seccion1{
        grid-template-columns: repeat(2, 1fr);
    }
    .seccion2{
        grid-template-columns: repeat(2, 1fr);
    }
    .seccion3{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 375px){
    .otros h2{
        font-size: 10px;
        margin-left: 2px;
    }
    .otros h3{
        font-size: 10px;
        margin-left: 2px;
    }
    body{
        width: 100%;
    }
    .todo {
        grid-template-rows: 50px 210px 50px 245px 50px 190px 50px 300px;
    }
    .b{
        width: 75%;
    }
    .header{
        grid-template-columns: 25% 105% 1%;
    }
    .titulo{
        font-size: 20px;
    }
}
@media(max-width: 320px){
    .menu{
        margin-top: 20px;
    }
    .b-alt{
        margin-top: 45px;
    }
    .menu a {
        font-size: 13px;
    }
}



