.header2{
    display: grid;
    background: linear-gradient(90deg, rgb(92, 238, 238), rgb(63, 153, 255),rgba(2, 39, 201, 0.726));
    height: 120px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
}