.header2{
    background: rgba(34,34,34,0.75);
    display: grid;
    height: 110px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
}
.header-items {
    display: grid;
    grid-template-columns: 90% 8%;
}
.nombre{
    background-color: black;
    color: rgba(143, 141, 141, 0.637);
    width: 50%;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.formsMail{
    background-color: black;
    color: rgba(143, 141, 141, 0.637);
    width: 50%;
    height: 30px;
    border-radius: 10px;
}
.formsContra{
    background-color: black;
    color: rgba(143, 141, 141, 0.637);
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

@media(max-width: 915px){
    .integrantes{
        display: grid;
        grid-template-rows: 45px 45px 45px 45px;
        text-align: left;
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        color: white;
    }
}
@media(max-width:768px){
    .footerjaja{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .deezer{
        object-fit: fill;
        width: 150px;
        height: 80px;
        text-align: left;
        position: relative;
        left: 80px;
        margin-bottom: 90px;
    }
    .integrantes{
        display: grid;
        grid-template-rows: 35px 20px 20px 20px;
        text-align: left;
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        color: white;
    }
}
*{
    box-sizing: border-box;
    
}
.form-group{
    margin-top: 20px
}
button{
    margin-top: 20px;
    border-radius: 5px;
}
body{
    background-color: white; 
    padding: 1em;
    background: rgb(0, 0, 0);
    font-family: "Gill sans", sans-serif;
    width: 80%;
}
header{
    display: grid;
    height: 130px;
    z-index: 15;
}
.logo{
    margin-right: 0px;
}
.inicio{
    background: rgba(143, 141, 141, 0.637);
    border-radius: 10px;
    box-shadow: -4px 0 15px rgba(204, 204, 204, 0.37);    
    margin-top: 6%;
    width: 500px;
    height: 500px;
    text-align: center;
    margin: auto;
    margin-top: 120px;
}
.forms{
    background-color: black;
    color: rgba(143, 141, 141, 0.637);
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

/*CARRUSEL ABAJO*/
.slider{
    width: 100%;
    margin: auto;
    height: 300px;
    overflow: hidden;
}
.slider ul{
    margin-top: 20px;
    padding: 0;
    width: 400%;
    display: flex;
    height: 100%;
    animation: cambio 15s infinite alternate-reverse;
    
}
.slider li{
    width: 100%;
    list-style: none;
    height: 100%;
    
}
.slider li img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left:0; }
    20% {margin-left:0; }

    25% {margin-left:-100%; }
    45% {margin-left:-100%; }

    50% {margin-left:-200%; }
    75% {margin-left:-200%; }

    80% {margin-left:-300%; }
    100% {margin-left:-300%; }
}